body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: ArtifaktElement;
}

#header, #preview, #overlay {
    position: absolute;
    width: 100%;
}

#header {
    height: 5em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: gainsboro;
}

#preview, #overlay {
    top: 21em;
    bottom: 0;
    border-bottom: 2px solid gray;
}

#overlay {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em;
    display: none;
}

#overlay > .notification {
    margin: auto;
    padding: 1em;
    max-width: 50%;
    background: white;
}

#header > * {
    height: 2em;
    margin: 0 0.5em;
    font-size: 1em;
    font-family: ArtifaktElement;
}

#header .title {
    flex: 1 0 auto;
    height: auto;
    font-weight: bold;
    font-size: 40px;
    color: aliceblue;
    margin-left: 5em;
}
#header .logo {
    height: 4em;
    margin-left: 5em;
}

#models {
    flex: 0 1 auto;
    min-width: 3em;
    border-radius: 1em;
}
#upload{
    border: none;
    background-color: gray;
    color: azure;
    border-radius: 1em;
    margin-right: 5em;
}
#upload:hover{
    border: 2px solid gray;
    border-radius: 1em;
    background-color: white;
    color: black;
    cursor: pointer;
}

#instruction{
    position: absolute;
    width: 100%;
    top: 5em;
    margin-left: 5em;
    border-bottom: 2px solid gray;
    gap: 0px;
}
#instruction h3, #instruction p{
    width: 90%;
}
#instruction h3{
    font-size: 20px;
    font-weight: 600;
    margin-left: 40%;
}
#instruction p{
    font-size: 15px;
    font-weight: 600;
}
#instruction p ul{
    list-style: none;
}
#instruction p ul p{
    font-size: 12px;
}

#other-divisions{
    position: absolute;
    width: 100%;
    top: 60em;
    background-color: azure;
}

#other-divisions .about{
    width: 90%;
    margin-left: 5em;
}

#footer{
    position: absolute;
    width: 100%;
    top: 80em;
    background-color: gray;
}
#footer p{
    width: 90%;
    margin-left: 5em;
}