body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: ArtifaktElement;
}

#header, #preview, #overlay {
    position: absolute;
    width: 100%;
}

#header {
    height: 3em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#preview, #overlay {
    top: 3em;
    bottom: 0;
}

#overlay {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em;
    display: none;
}

#overlay > .notification {
    margin: auto;
    padding: 1em;
    max-width: 50%;
    background: white;
}

#header > * {
    height: 3em;
    margin: 0 0.5em;
    font-size: 1.2em;
    font-family: ArtifaktElement;
}

#header .title {
    height: auto;
    color: cadetblue;
    font-weight: bold;
}

#models {
    min-width: 3em;
}
#upload{
    height: 2em;
    width: 8em;
    border-radius: .25em;
    color:azure;
    background-color: burlywood;
}
.logo{
    height: 2em;
    width: auto;
    margin-left: 4em;
}